<p>Hi {{ user.name }},</p>

<p>Kindly verify your email address by clicking the link below:</p>

<a href="{{ appUrl(signedUrl) }}">Verify Your Email Address</a>

<p>This link is valid for only 24 hours.</p>
